* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 60px 20px;
  background: #1e293b;
}

header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

header p {
  color: #cbd5e1;
}

.projects {
  padding: 50px 20px;
  text-align: center;
}

.projects h2 {
  margin-bottom: 30px;
  font-size: 26px;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  margin: 15px auto;
  max-width: 300px;
  border-radius: 10px;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card h3 {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #1e293b;
  margin-top: 40px;
}
